<h1>Iniciar sesión</h1>
<input type="button" value="Google">

<form #loginForm name="loginForm" role="form" (ngSubmit)="onSubmit(loginForm)">
  <div>
    <label>Email</label>
    <input type="email" email #email="ngModel" name="email" [ngModel]="_email" required>
    <span [hidden]="email.valid || !email.touched">El email no es correcto</span>
  </div>
  <div>
    <label>Password</label>
    <input type="password" password #password="ngModel" name="password" [ngModel]="_password" required>
    <span [hidden]="password.valid || !password.touched">El password no es correcto</span>
  </div>
  <input type="submit" value="Iniciar sesión">
</form>

<a routerLink="/reset">Olvidé mi contraseña</a>
<input type="button" value="Volver" (click)="backHome()">
